In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql import Row

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

def mapper(line):
    fields = line.split(',')
    return Row(ID=int(fields[0]), name=str(fields[1]).encode("utf-8"), \
            age=int(fields[2]), numFriends=int(fields[3]))

lines = spark.sparkContext.textFile("../Dados/fakefriends.csv")
people = lines.map(mapper)

# Infer the schema, and register the DataFrame as a table.
schemaPeople = spark.createDataFrame(people).cache()
schemaPeople.createOrReplaceTempView("people")

# SQL can be run over DataFrames that have been registered as a table.
teenagers = spark.sql("SELECT * FROM people WHERE age >= 13 AND age <= 19")

# The results of SQL queries are RDDs and support all the normal RDD operations.
for teen in teenagers.collect():
    print(teen)

# We can also use functions instead of SQL queries:
schemaPeople.groupBy("age").count().orderBy("age").show()

spark.stop()

Row(ID=21, name=bytearray(b'Miles'), age=19, numFriends=268)
Row(ID=52, name=bytearray(b'Beverly'), age=19, numFriends=269)
Row(ID=54, name=bytearray(b'Brunt'), age=19, numFriends=5)
Row(ID=106, name=bytearray(b'Beverly'), age=18, numFriends=499)
Row(ID=115, name=bytearray(b'Dukat'), age=18, numFriends=397)
Row(ID=133, name=bytearray(b'Quark'), age=19, numFriends=265)
Row(ID=136, name=bytearray(b'Will'), age=19, numFriends=335)
Row(ID=225, name=bytearray(b'Elim'), age=19, numFriends=106)
Row(ID=304, name=bytearray(b'Will'), age=19, numFriends=404)
Row(ID=341, name=bytearray(b'Data'), age=18, numFriends=326)
Row(ID=366, name=bytearray(b'Keiko'), age=19, numFriends=119)
Row(ID=373, name=bytearray(b'Quark'), age=19, numFriends=272)
Row(ID=377, name=bytearray(b'Beverly'), age=18, numFriends=418)
Row(ID=404, name=bytearray(b'Kasidy'), age=18, numFriends=24)
Row(ID=409, name=bytearray(b'Nog'), age=19, numFriends=267)
Row(ID=439, name=bytearray(b'Data'), age=18, numFriends=417)
Row(ID=444, name=bytearray(b'Keiko'), age=18, numFriends=472)
Row(ID=492, name=bytearray(b'Dukat'), age=19, numFriends=36)
Row(ID=494, name=bytearray(b'Kasidy'), age=18, numFriends=194)
+---+-----+
|age|count|
+---+-----+
| 18|    8|
| 19|   11|
| 20|    5|
| 21|    8|
| 22|    7|
| 23|   10|
| 24|    5|
| 25|   11|
| 26|   17|
| 27|    8|
| 28|   10|
| 29|   12|
| 30|   11|
| 31|    8|
| 32|   11|
| 33|   12|
| 34|    6|
| 35|    8|
| 36|   10|
| 37|    9|
+---+-----+
only showing top 20 rows